@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F0F4F7;
    font-family: 'Poppins';
    color: #062D4A;
}

/* custom carousel css */
.carousel .control-dots .dot {
    background: #fff !important;
    opacity: 1 !important;
    margin: 0 4px !important;
}

.carousel .control-dots .dot.selected {
    background: #51B3FF !important;
    width: 30px !important;
    border-radius: 5px !important;
}

/* select box css issue */
ul[role="listbox"] {
    opacity: 1 !important;
}


/* scroll bar */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #52B4FF;
}

/* customizing slider */
.filter-track.filter-track-0{
    height: 2px;
    background: #F5F5F5;
}
.filter-track.filter-track-1{
    height: 2px;
    background: #062D4A;
}
.filter-thumb.filter-thumb-1, .filter-thumb.filter-thumb-0{
    outline: none
}

.filter-thumb .f_mark{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #53B5FF;
    margin-top: -12px;
}
.filter-thumb.filter-thumb-1{
    margin-left: 10px;
}
.filter-thumb.filter-thumb-1 .f_value{
    position: absolute;
    right: 0;
}
/* slider end */